@{
    ViewBag.Title = "Связь со мной";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Support:</strong>   <a href="mailto:dudarevdandd@yandex.ru">dudarevdandd@yandex.ru</a><br />
    <strong>Marketing:</strong> <a href="https://vk.com/klss1234567890" target="_blank">моя страница VK</a>
</address>